*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins',sans-serif;
}

body{
    background:#f4f8fb;
    color:#222;
}

header{
    background:#003b73;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 8%;
}

.logo{
    font-size:28px;
    font-weight:700;
}

nav a{
    color:white;
    text-decoration:none;
    margin-left:20px;
    font-weight:500;
}

nav a:hover{
    color:#4fc3f7;
}

.hero{
    height:90vh;
    background:
    linear-gradient(rgba(0,40,80,.55),rgba(0,40,80,.55)),
    url("https://images.unsplash.com/photo-1578575437130-527eed3abbec?auto=format&fit=crop&w=1600&q=80");
    background-size:cover;
    background-position:center;
    display:flex;
    justify-content:center;
    align-items:center;
    text-align:center;
    color:white;
}

.hero-content h1{
    font-size:56px;
    margin-bottom:20px;
}

.hero-content p{
    font-size:20px;
    margin-bottom:30px;
}

.btn{
    display:inline-block;
    padding:15px 35px;
    margin:10px;
    background:#00a8ff;
    color:white;
    text-decoration:none;
    border-radius:40px;
    transition:.3s;
}

.btn:hover{
    background:#0091ea;
    transform:translateY(-3px);
}

.services,
.stats{
    padding:70px 8%;
    text-align:center;
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
    gap:25px;
    margin-top:40px;
}

.card{
    background:white;
    border-radius:15px;
    padding:30px;
    box-shadow:0 10px 25px rgba(0,0,0,.1);
}

.card h1{
    font-size:48px;
    margin-bottom:15px;
}

footer{
    background:#003b73;
    color:white;
    text-align:center;
    padding:30px;
    margin-top:50px;
}
.why-us{
padding:70px 8%;
background:#eef7ff;
text-align:center;
}

.why-us h2{
margin-bottom:30px;
font-size:36px;
color:#003b73;
}
